h1 {font-family: Arial, sans-serif;
	background-color:none;
}

body{background-color: none; 
background-image: url("../images/hol.jpg");
}

nav ul {
	list-style: none;
	font-family: Arial, sans-serif;
	font-size: 20px;
	text-align: center;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}