{% include "header.html" %}



<!-- <img src="/Travel/static/images/hol.jpg">  -->
  <h1>Travel Planner</h1>
  
  <p>Plan your holidays with out amazing travel planner, to help you reach favourite destinations with ease...</p>

  <br><br>

  <h2> Leave your details below to get the lastest travel updates</h2>
  <form action="/feedback" method="post">
	<label for="name"> Name: </label>
	<input type="text" name="name" id="name">
		
	<label for="email"> Email: </label>
	<input type="email" name="email" id="email">

	<input type="submit" name="Send!">
</form>

</body>
</html>
